@model Car

<div class="row">
    <div class="col">
        @await Html.PartialAsync("SideMenu")
    </div>
    <div class="col-9">
        <h2>Добавить продукт</h2>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label class="form-label">Название продукта</label>
                <input type="text" class="form-control" name="Name" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Описание продукта</label>
                <input type="text" class="form-control" name="Description" asp-for="Description">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Цена</label>
                <input type="number" class="form-control" name="CostMinute">
            </div>
            <div class="mb-3">
                <label class="form-label">Путь к картинке</label>
                <input type="text" class="form-control" name="Image">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>

</div>